* {
    font-family: 'Aldrich', sans-serif;
}


img.img-fluid {
    margin-left: 28%;
}

h1.h1.display-4 {
    margin-left: 35%;
}

div.h1Container {
    margin-left: 38%;
}

button#refresh.toolButton {
    margin-left: 25%;
}