* {
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: pink;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#header {
    grid-area: 1/ 1/ 2/ 8;
}

#nav {
    grid-area: 2/ 1/ 8/ 2;
}

#article {
    grid-area: 2/ 2/ 6/ 6;
}

#ads {
    grid-area: 2/ 6/ 6/ 8;
}

#footer {
    grid-area: 6/ 2/ 8/ 8;
}

.blocks {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    background: #ffd700;
}

.description {
    padding: 15px;
}

