* {
    box-sizing: border-box;
    grid-column-gap: 0px;
}
body{
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;

}

#whole-page {

    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
}

#top-header {
    background: black;
    grid-area: 1/ 1/ 2/ 21;
    overflow: auto;
    color: white;
    height: 50%;
}

#header {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0px 20px;

}

li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

li a:hover {
    color: gold;
}

.menu {
    background: #f0f0f0;
    grid-area: 2/ 1/ 21/ 3;
    min-height: 100vh;
}

#vertical-menu {
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
}

#vertical-menu:hover {
    /*background: #d6d66f;*/
    /*transition: ease-in .5s;*/
}

.menu li {
    display: grid;
}

#vertical-menu li a {
    color: black;
    text-decoration: none;
}

#vertical-menu li:hover {
    background: #d6d66f;
    transition: ease-in .5s;
}

.articles {
    padding: 50px;
}

#articles-section {
    grid-area: 2/ 3/ 15/ 13;
}

/*#article1 {*/
/*    grid-area: 3/ 3/ 5/ 12;*/
/*}*/

/*#article2 {*/
/*    grid-area: 7/ 3/ 9/ 12;*/
/*}*/

/*#article3 {*/
/*    grid-area: 11/ 3/ 13/ 12;*/
/*}*/

.ads {
    display: flex;
    flex-direction: column;
}

.ad-divs-small {
    border: 1px solid black;
    padding: 10px 0;
    height: 50px;
    width: 150px;
}

.ad-divs-big {
    margin: 10px 0;
    padding: 10px 0;
    width: 150px;
    height: 100px;
    border: 1px solid black;

}

.next-pages {
    display: flex;
    flex-direction: row;
    grid-area: 17/ 9/ 18/ 10;
}

.next-pages a {
    color: grey;
}

#footer {
    background: lightgrey;
    grid-area: 18/ 3/ 20/ 21;
}

.footer-title {
    margin: 25px 5px;
    color: white;
}

#powered {
    display: flex;
    background: grey;
    grid-area: 20/ 3/ 21/ 21;
}

#powered p, a {
    color: white;
    padding: 5px;

}

#powered-by {
    margin: auto -5px;
}

#page1:hover {
    transition: ease-in .5s;
    background: #000;
}
#page2:hover {
    transition: ease-in .5s;
    background: #170303;
}
#page3:hover {
    transition: ease-in .5s;
    background: #210909;
}
#page4:hover {
    transition: ease-in .5s;
    background: #2e1111;
}
#page5:hover {
    transition: ease-in .5s;
    background: #4a2121;
}
#pageNext:hover {
    transition: ease-in .5s;
    background: #663434;
}

