html {
    padding: 0;
    background: #d2d2d2;
    box-sizing: border-box;
}

.jedi-order-symbol {
    padding: 0;
    border: 10px solid #bdbdbd;
    border-radius: 50%;
    height: 25%;
    width: 25%;
    margin-left: 35%;
    margin-top: 7%;
    -webkit-box-shadow: 0 8px 6px 2px #b7bcc9;
    -moz-box-shadow: 0 8px 6px 4px #b7bcc9;
    box-shadow: 0 8px 6px 5px #b7bcc9;
    animation: upDownAnimation 8s ease-in;
    animation-iteration-count: infinite;
}

@keyframes upDownAnimation {
    0%{
        transform: translate3d(0, 20px, 0);
    }
    10% {
        transform: translate3d(0, 7px, 0);
    }
    20%{
        transform: translate3d(0, 1px, 0);
    }
    30%{
        transform: translate3d(0, .5px, 0);
    }
    40%{
        transform: translate3d(0, -2px, 0);
    }
    50%{
        transform: translate3d(0, -5px, 0);
    }
    60%{
        transform: translate3d(0, -2px, 0);
    }
    70%{
        transform: translate3d(0, .5px, 0);
    }
    80%{
        transform: translate3d(0, 1px, 0);
    }
    90%{
        transform: translate3d(0, 7px, 0);
    }
    100%{
        transform: translate3d(0, 20px, 0);
    }
}

/*here is main header*/
.jedi-title {
    text-align: center;
    margin-top: 2%;
    font-family: 'Poller One';
    animation: grow 3s infinite;
}
@keyframes grow {
    0% {
        transform: scaleX(1);
    }
    20% {
        transform: scaleX(1.02);
    }
    30% {
        transform: scaleX(1.03);
    }
    60% {
        transform: scaleX(1.03);
    }
    80% {
        transform: scaleX(1.02);
    }
    100% {
        transform: scaleX(1);
    }
}

/*here is beginning of CSS for orb container and individual orbs*/
.orb-container {
    background: transparent;
    display: none;
}

/*here is second orb container; altered margin*/
.orb-container:nth-child(2){
    background: transparent;
    display: none;
}
/*orb class to style provide all orbs default styling*/
.orb {
    height: 15px;
    width: 15px;
    background: #c43c33;
    border-radius: 50%;
    filter: blur(.85em);
}
/*first orb movement below*/
#orb1 {
    /*ß*/
    animation: orb1-animation 5s;
    animation-iteration-count: infinite;
}
@keyframes orb1-animation {
    0% {
        transform: translate3d(-550px, 35px, 100px); background: #c43c33;
    }
    25% {
        transform: translate3d(350px, 45px, 200px); background: #8f130a;
    }
    50% {
        transform: translate3d(1450px ,55px, 300px); background: #ed9993;
    }
    75% {
        transform: translate3d(-200px, 45px, 200px); background: #8f130a;
    }
    100%{
        transform: translate3d(-550px, 35px, 100px); background: #c43c33;
    }
}

/*second orb movement here*/
#orb2 {
    animation: orb2-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes orb2-animation {
    0% {
        transform: translate3d(-550px, 75px, 100px);
    }
    25% {
        transform: translate3d(550px, 200px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(1450px ,350px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-400px, 200px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-550px, 75px, 100px);
    }
}

/*orb 3 movement here*/
#orb3 {
    animation: orb3-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}
@keyframes orb3-animation {
    0% {
        transform: translate3d(-750px, -200px, 600px);
    }
    25% {
        transform: translate3d(550px, -400px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(1450px ,-1000px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-400px, -500px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-750px, -200px, 600px);
    }
}

/*orb 4 animation here*/
#orb4 {
    animation: orb4-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes orb4-animation {
    0% {
        transform: translate3d(-950px, -200px, 50px);
    }
    25% {
        transform: translate3d(-400px, -400px, 100px); background: #e00202;
    }
    50% {
        transform: translate3d(-850px ,-500px, 250px); background: #f7631e;
    }
    75% {
        transform: translate3d(-400px, -400px, 100px); background: #e00202;
    }
    100%{
        transform: translate3d(-950px, -200px, 50px);
    }
}

/*here is orb 5 animation*/
#orb5 {
    animation: orb5-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;
}
@keyframes orb5-animation {
    0% {
        transform: translate3d(125px, -50px, -500px);
    }
    25% {
        transform: translate3d(550px, -400px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(950px ,-1000px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(550px, -400px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(125px, -50px, -500px);
    }
}

/*here is orb 6 animation*/
#orb6 {
    animation: orb6-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
@keyframes orb6-animation {
    0% {
        transform: translate3d(-75px, -50px, -700px);
    }
    25% {
        transform: translate3d(550px, -400px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(750px ,-700px, 700px); background: #f7631e;
    }
    75% {
        transform: translate3d(550px, -400px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-75px, -50px, -700px);
    }
}

/*here is orb 7 animation*/
#orb7 {
    animation: orb7-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;
}
@keyframes orb7-animation {
    0% {
        transform: translate3d(-550px, 35px, 100px);
    }
    25% {
        transform: translate3d(350px, 45px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(1450px ,55px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-200px, 45px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-550px, 35px, 100px);
    }
}

/*here is orb8 animation */
#orb8 {
    animation: orb8-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}
@keyframes orb8-animation {
    0% {
        transform: translate3d(-550px, 35px, 100px);
    }
    25% {
        transform: translate3d(350px, 45px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(1450px ,55px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-200px, 45px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-550px, 35px, 100px);
    }
}

/*here is orb 9 animation*/
#orb9 {
    animation: orb9-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 4.5s;
}
@keyframes orb9-animation {
    0% {
        transform: translate3d(-125px, -50px, -500px);
    }
    25% {
        transform: translate3d(-750px, -400px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(-1050px ,-1000px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-550px, -400px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-125px, -50px, -500px);
    }
}

/*here is orb 10 animation*/
#orb10 {
    animation: orb10-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
@keyframes orb10-animation {
    0% {
        transform: translate3d(-325px, -50px, 400px);
    }
    25% {
        transform: translate3d(-550px, -400px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(-7050px ,-1000px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-550px, -400px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-325px, -50px, 400px);
    }
}

/*here is orb 11 animation*/
#orb11 {
    animation: orb11-animation 5s;
    animation-iteration-count: infinite;
    animation-delay: 5.5s;
}
@keyframes orb11-animation {
    0% {
        transform: translate3d(-550px, 35px, 100px);
    }
    25% {
        transform: translate3d(350px, 45px, 200px); background: #e00202;
    }
    50% {
        transform: translate3d(1450px ,55px, 300px); background: #f7631e;
    }
    75% {
        transform: translate3d(-200px, 45px, 200px); background: #e00202;
    }
    100%{
        transform: translate3d(-550px, 35px, 100px);
    }
}

/*here is orb 12 animation; here orbs have different speed and different sequence of animations/*/

#orb12 {
    animation: orb2-animation 4s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

/*here is orb 13 animation*/
#orb13 {
    animation: orb4-animation 2s;
    animation-iteration-count: infinite;
    animation-delay: 6.5s;
}

/*here is orb 14 animation*/
#orb14 {
    animation: orb3-animation .75s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}

/*here is orb 15 animation*/
#orb15 {
    animation: orb4-animation .05s;
    animation-iteration-count: infinite;
    animation-delay: 7.5s;
}

/*here is orb 16 animation*/
#orb16 {
    animation: orb5-animation 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
}

/*here is orb 17 animation*/
#orb17 {
    animation: orb6-animation .75s;
    animation-iteration-count: infinite;
    animation-delay: 8.5s;
}

/*here is orb 18 animation*/
#orb18 {
    animation: orb7-animation 7s;
    animation-iteration-count: infinite;
    animation-delay: 9s;
}

/*here is orb 19 animation*/
#orb19 {
    animation: orb11-animation .55s;
    animation-iteration-count: infinite;
    animation-delay: 9.5s;
}

/*here is orb 20 animation*/
#orb20 {
    animation: orb9-animation 2s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}

/*here is orb 21 animation*/
#orb21 {
    animation: orb3-animation 1s;
    animation-iteration-count: infinite;
    animation-delay: 10.5s;
}

/*here is orb 22 animation*/
#orb22 {
    animation: orb11-animation 1.25s;
    animation-iteration-count: infinite;
    animation-delay: 11s;
}


/*/////// Here is attempt to jquery method animation:*/

.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}