.cardCenter {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cardCenterVert {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center;
}

.cardImage {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cardImageCircle {
    border-radius: 50%;
}

.networkImg {
    padding-bottom: 100px;
}

.customCard {
    max-width: 100vw;
    min-height: 70vh;
    background-color: yellow;
}

