* {
    box-sizing: border-box;
    margin: auto;
}

.container {
    padding: 10px;
}

.heading {
    font-family: 'Cinzel', serif;
    animation: headliney 1s;
    animation-iteration-count: infinite;
}

@keyframes headliney {
    0%{
        transform: translate3d(0,0,0); color: #000;
    }
    25%{
        transform: translate3d(0,10px,0); color: #fff;
    }
    50%{
        transform: translate3d(0,11px,0); color: #fff;
    }
    75%{
        transform: translate3d(0,10px,0); color: #fff;
    }
    100%{
        transform: translate3d(0,0,0); color: #000;
    }
}

.grid-layout {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: 3px solid black;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#block1 {
    background-color: #334577;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 3px solid black;*/
}

#block2 {
    background-color: #cb342e;
    /*width: 100%;*/
    /*height: 100%;*/
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

#block3 {
    background-color: #f5cc47;
    /*width: 100%;*/
    /*height: 100%;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

#block4 {
    background-color: #ffffff;
    /*width: 100%;*/
    /*height: 100%;*/
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
}

#block5 {
    background-color: #ffffff;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

#block6 {
    background-color: #ffffff;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
}

#block7 {
    background-color: #f5cc47;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}

#block8 {
    background-color: #cb342e;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}

#block9 {
    background-color: #334577;
    /*width: 100%;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}

.blue, .red, .yellow, .white {
    border: 3px solid black;
    width: 100%;
    height: 100%;
}
