* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #333333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    background: black;
}

nav ul li:nth-child(4) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    margin-left: auto;
}

/* mobile devices */
@media all and (max-width: 768px) {
    body {
        display: flex;
        justify-content: flex-end;
    }
    nav {
        display: inline-block;
        height: 100vh;
        position: fixed;
        left: 0;
    }
    nav ul {
        flex-direction: column;
        width: 15em;
    }
    main {
        width: calc(100% - 15em);
    }
    nav a {
        width: 100%;
    }
    nav ul li:nth-child(4) {
        margin-left: 0;
    }
}

/* mobile devices */
@media all and (max-width: 768px) {
    body {
        display: flex;
        justify-content: flex-end;
    }
    nav {
        display: inline-block;
        height: 100vh;
        position: fixed;
        left: 0;
    }
    nav ul {
        flex-direction: column;
        width: 15em;
    }
    main {
        width: calc(100% - 15em);
    }
    nav a {
        width: 100%;
    }
    nav ul li:nth-child(4) {
        margin-left: 0;
    }
}