
* {
    padding: 5px;
    font-family: 'Comfortaa', cursive;
}

*:hover {
    font-weight: bolder;
}


.coordinates {
border: 5px solid red;
    height: 200%;
}

.click-background-color {
    animation: background-color-change 3s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes background-color-change {
    0%{
        background-color: #faf7e3;
    }
    25%{
        background-color: #f5dd42;
    }
    50%{
        background-color: #f5b342;
    }
    75%{
        background-color: #f5dd42;
    }
    100%{
        background-color: #faf7e3;
    }
}

#navbar {
    background-color: #faf7e3;
    border-radius: 25px;
}

.card {
    cursor: pointer;
}

.card-body:hover {
    background-color: #80cfed;
    color: white;
    border-radius: 25px;
}


#cloud {
    height: 42%;
    width: 25%;
    margin-left: 31%; margin-top: 12%;
    top: 100px; left: 100px; z-index: 0; position: absolute;
}

#location {
    text-align: center;
}

.sky {
    max-height: 95%;
    max-width: 95%;
}

div.card {
    border-style: none;
}

div.card-body {
    text-align: center;
    background-color: #faf7e3;
    border-radius: 25px;
}

#map {
    width: 80%;
    height: 700px;
    margin-left: 9%; margin-bottom: 2%;
    border-radius: 25px;
}

/*#test {*/
/*    margin-left: 100%;*/
/*}*/



/*image#cloud.card-image-top {*/
/*    margin-top: -95%;*/
/*}*/