
* {
    padding: 5px;

}

.card-body:hover {
    background-color: #80cfed;
    color: white;
    border-radius: 25px;
}


#cloud {
    height: 42%;
    width: 25%;
    margin-left: 31%; margin-top: 12%;
    top: 100px; left: 100px; z-index: 0; position: absolute;
}

#location {
    text-align: center;
}

.sky {
    max-height: 95%;
    max-width: 95%;
}

div.card-body {
    text-align: center;
    background-color: #f7f0bc;
    border-radius: 25px;
}

#map {
    width: 80%;
    height: 700px;
    margin-left: 9%; margin-bottom: 2%;
    border-radius: 25px;
}

/*#test {*/
/*    margin-left: 100%;*/
/*}*/



/*image#cloud.card-image-top {*/
/*    margin-top: -95%;*/
/*}*/