/* * {
    background-color: red;
} */


/* #bgColumnsPlaceholder {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
} */

#mainContainer {
    padding: 0;
    overflow: hidden;
    position: absolute;
}

#firstName {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 100px;
    height: 100px;
    z-index: 999;
}
#lastName {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: 0px;
    width: 100px;
    height: 100px;
    z-index: 999;
}
.letters {
    font-size: 1.5em;
    color: #fff;
}

/* #first-name-Z {
    animation: bouncy 1s infinite;
    /* animation-delay: 2s; */
/* }
@keyframes bouncy {
    0% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(-120px, 0, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
} */






#initialScreen {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: url(/img/zoe6.JPG); */
    background-size: contain;
    background-repeat: no-repeat;
    /* display: block; */
    /* animation: slidey 7s infinite linear; */
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #09948d 20%, #23234a 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}



.card-title, .card-text {
    text-align: center;
}

.card { 
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
}
.card:hover {
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
    animation: shadow-change 1s ease-in-out;
}
@keyframes shadow-change {
    0% {
        box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
    }
    50%{
        box-shadow: none;
    }
    100% {
        box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
    }
}


.animation {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-left: -15px;
    position: absolute;
}

.columns {
    opacity: 0.5;
}

.column1 {
    height: 100vh;
    width: 172px;
    background: #09948d;
    position: absolute;
    animation: column-fading 3s ease-in-out infinite;
}
@keyframes column-fading {
    0% {
        height: 0vh;
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .25;
    }
    100%{
        height: 100vh;
        opacity: 0;
    }
}

.column2 {
    height: 100vh;
    width: 172px;
    background: #23234a;
    position: absolute;
    margin-left: 11%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 1s;
}

.column3 {
    min-height: 100vh;
    width: 172px;
    background: #09948d;
    position: absolute;
    margin-left: 22%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 1.5s;
}

.column4 {
    min-height: 100vh;
    width: 172px;
    background: #23234a;
    position: absolute;
    margin-left: 33%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 2s;
}

.column5 {
    min-height: 100vh;
    width: 172px;
    background: #09948d;
    position: absolute;
    margin-left: 44%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 2.5s;
}

.column6 {
    min-height: 100vh;
    width: 172px;
    background: #23234a;
    position: absolute;
    margin-left: 55%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 3s;
}

.column7 {
    min-height: 100vh;
    width: 172px;
    background: #09948d;
    position: absolute;
    margin-left: 66%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 3.5s;
}

.column8 {
    min-height: 100vh;
    width: 172px;
    background: #23234a;
    position: absolute;
    margin-left: 77%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 4s;
}

.column9 {
    min-height: 100vh;
    width: 172px;
    background: #09948d;
    position: absolute;
    margin-left: 88%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 4.5s;
}

.footer {
    border: 5px solid red;
}